 <!-- <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>PR-Qu <%= user.username %> </title>
 </head>

 <body>
   <form action="/:username/tambah" method="POST">
     <h1>Whats your doing next ? </h1>
     <input type="text" name="nama_todo" placeholder="Judul">
     <input type="text" name="description" placeholder="Description">
     <input type="text" name="deadline" placeholder="Deadline">
     <button>Save</button>
   </form>

   <table>
     <tr>
       <td>Judul</td>
       <td>Description</td>
       <td>Deadline</td>
     </tr>
     <% todo.forEach( function(err, todo) { %>
        <td><%= todo.nama_todo %> </td>
        <td><%= todo.description %> </td>
        <td><%= todo.deadline %> </td>
    <% }); %>
   </table>
 </body>

 </html> -->